* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header h2 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background: #198754;
}

.input-group>.form-control {
    height: 50px;
    background: transparent;
    border: 1px solid #fff;
    margin-right: 10px;
}

.input-group>.form-control::placeholder {
    color: white;
}

tr {
    text-align: center;
}